.git/
*/.git/*
# Swap files 
*.sw[a-p]
*.swp
*.swo
*.swn
.*.swp

# Backup files
*~
*.bak

# Undo files
*.un~
*.undo

# Session and View files
Session.vim
*vimview*
.vim
.vim/view/
view

tags

# General metadata
.DS_Store
.AppleDouble
.LSOverride

# Resource forks
._*

# Files that might appear in the root of a volume
.Spotlight-V100
.Trashes
.fseventsd

# Byte-compiled files
*.pyc
*.pyo
*.pyd

# Cache
__pycache__/
.mypy_cache/
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Compiled zsh files
*.zwc

# Zsh history (though usually in $HOME)
.zsh_history
*.zip
*.tar.gz
*.tar
*.rar
*.7z
